.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border: solid 1px #cbced2;
  border-radius: 6px;
  padding: 30px;
  margin: 20px;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border: solid 1px #cbced2;
  border-radius: 6px;
  padding: 30px;
  margin: 20px;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border: solid 1px #cbced2;
  border-radius: 6px;
  padding: 30px;
  margin: 20px;
}
.cards-heading {
  color: #326a9d;
}
.cards-description {
  color: #64748b;
  font-size: 20px;
}
.cards-btn {
  color: #326a9d;
  border: 2px solid #326a9d;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  background-color: #ffff;
}

/* Write your code here. */
